@page "/"

<style>
    body{
        background-color: #EFFEF1
    }
</style>

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to leave management application.

<SurveyPrompt Title="How is Blazor working for you?" />

<hr />

<img src="/images/main-background.png" />